<section class="stats">
  <p>You have <%=@total_book_count%> books in your library.</p>
  <p><%=@borrowed_book_count%> books are currently on loan.</p>

  <h2>Books on loan:</h2>
  <ul>

  </ul>
</section>