body {
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
  background: #ffffff;
  max-width: 1000px;
  padding: 10px 0 35px 0;
  margin: 0 auto;
}

.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}